{% extends 'patients/base.html' %}

{% block content %}

<h2>Health Education Resources</h2>
<form method="get">
    <input type="text" name="search" placeholder="Search Resources...">
    <button type="submit">Search</button>
</form>
<div class="resources">
    {% for resource in resources %}
        <div class="resource-card">
            <h3>{{ resource.title }}</h3>
            <p>{{ resource.description }}</p>
            <a href="{% url 'patient:education_detail' resource.id %}">Read More</a>
        </div>
    {% endfor %}
</div>

{% endblock %}
